<form class="kp8Module" method="POST" action="changePassword" style="width: 350px;">
    <div>
        Change Password
    </div>
    <div>
        <center>
            <img src="images/_mlDiamond.svg" class="bg_color" style="margin: auto; border-radius: 100%; height: 100px;" draggable="false"/>
            <h2 style="padding: 0; margin: 0;">Update your password</h2>
            Please fill up the fields below.
        </center>
        <br />
        <div style="position: relative; margin: 10px 0;">
            <div class="label">
                Old Password
            </div>
            <div class="div-input">
                <input type="password" name="passWord"/>
            </div>
        </div>
        <div style="position: relative; margin-top: 30px;">
            <div class="label">
                New Password
            </div>
            <div class="div-input">
                <input type="password" name="newPassWord"/>
            </div>
        </div>
        <div style="position: relative; margin-top: 30px;">
            <div class="label">
                Confirm New Password
            </div>
            <div class="div-input">
                <input type="password" name="confirmNewPassWord"/>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="bg_color confirm">Update</button>
        <button type="button" id="close">Close</button>
    </div>
</form>