<div class="_ajxMsgr-uiBlocker _ajxMsgr-uiBlocker-hide">
    <div class="_ajxMsgr-controller _ajxMsgr-controller-hide">
        <div class="_ajxMsgr-container _ajxMsgr-container-hide">
            <div class="_ajxLdr-img">
                <img id="_circle"    src="images/_circle.svg"    draggable="false">
                <img id="_mlDiamond" src="images/_mlDiamond.svg" draggable="false">
            </div>
            <div id="ajxMsgr-msg"> </div>
            <button id="ajxMsgr-btn" class="_ajxMsgr-btn-hide" onclick="ui_msg()"></button>
            <div id="ajxErrCode"> </div>
        </div>
    </div>
</div>